<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>BluBoy</title>
  </head>
  <body>
    <header>
      <img
        src="{{ url_for('static', filename='images/Bluboy-Logo-1.jpg') }}"
        alt="Logo"
        style="padding-left: 60px"
      />
      <div style="float: right; padding-right: 20px; color: white">
        {{ session.get('username', 'Guest') }}
        <a href="{{ url_for('notifications.logout') }}" style="color: white"
          >Logout</a
        >
      </div>
    </header>
    <h1>Topics</h1>
    <div class="topic-inputs-container">
      <div class="topic-inputs flex g-10">
        <div class="flex justify-center select-container">
          <select id="templateDropdown">
            <option value="">Select Topic</option>
          </select>
        </div>
      </div>
      <div class="topic-inputs flex">
        <input
          id="title-input"
          type="text"
          placeholder="Enter Title"
          class="grow-1"
        />
      </div>
      <div class="topic-inputs flex g-10" id="topic-text-area">
        <textarea
          id="message-input"
          placeholder="Enter Message"
          class="grow-1"
        ></textarea>
        <div class="topic-btn grow-1 flex justify-center">
          <button id="send-button" class="w-100 topic-btn disabled" disabled>
            <img
              src="{{ url_for('static', filename='images/send.png') }}"
              alt="Send"
              class="grayscale"
            />
          </button>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const sendButton = document.getElementById("send-button");
        const titleInput = document.getElementById("title-input");
        const messageInput = document.getElementById("message-input");
        const dropdown = document.getElementById("templateDropdown");

        fetch('{{ url_for("notifications.get_topics_route") }}')
          .then((response) => response.json())
          .then((data) => {
            data.forEach((topic) => {
              const option = document.createElement("option");
              option.value = topic;
              option.textContent = topic;
              dropdown.appendChild(option);
            });
          })
          .catch((error) => console.error("Error fetching topics:", error));

        function checkInputs() {
          const title = titleInput.value.trim();
          const message = messageInput.value.trim();
          const topicName = dropdown.value;

          if (title && message && topicName) {
            sendButton.classList.remove("disabled");
            sendButton.removeAttribute("disabled");
          } else {
            sendButton.classList.add("disabled");
            sendButton.setAttribute("disabled", "true");
          }
        }

        titleInput.addEventListener("input", checkInputs);
        messageInput.addEventListener("input", checkInputs);
        dropdown.addEventListener("change", checkInputs);

        sendButton.addEventListener("click", function () {
          const title = titleInput.value;
          const message = messageInput.value;
          const topicName = dropdown.value;

          sendButton.classList.add("shrink");

          setTimeout(() => {
            sendButton.classList.remove("shrink");
          }, 300); // Adjust duration to match the CSS animation

          fetch('{{ url_for("notifications.send_notification") }}', {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body: new URLSearchParams({
              title: title,
              message: message,
              topic: topicName,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                console.log(
                  `Notification sent successfully to ${data.response} devices`
                );
              } else {
                console.error("Error sending notification:", data.error);
              }
            })
            .catch((error) =>
              console.error("Error sending notification:", error)
            );
        });
      });
    </script>
  </body>
</html>
